<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela combustiveis</title>
</head>
<body>

    <div class="container">
    <h1>Tabela de Combustíveis</h1>
    <hr>

    <table class="table">

        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let carro of carros">
            <th scope="row"><a href="/list/{{carro.id}}">{{carro.id}}</a> </th>
            <td>{{carro.marca}}</td>
            <td>{{carro.modelo}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
</body>
</html>